@import "tailwindcss";

:root{
    --color-primary: #a13032;
    --color-secondary: #c69316;
  }

  /* tailwind.css o styles.css */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}